<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Simple Map</title>
</head>
<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>
<body>
    <div id="home">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                  <a class="navbar-brand" href="#"><h3>Pollution Monitor</h3></a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/top-polluted">Top Polluted</a>
                      </li>
                  </div>
                </div>
              </nav>
        </header>
        <main class="container mt-3">
            <h4 class="my-2">Search for nearby locations</h4>
            <form class="row" id="nearby-form">
                <div class="col-4">
                    <label for="exampleFormControlInput1" class="form-label">Country</label>
                    <input type="text" class="form-control" id="country">
                </div>
                <div class="col-4">
                    <label for="exampleFormControlInput1" class="form-label">State</label>
                    <input type="text" class="form-control" id="state">
                </div>
                <div class="col-4">
                    <label for="exampleFormControlInput1" class="form-label">City</label>
                    <input type="text" class="form-control" id="city">
                </div>
                <div class="col-12 my-4">
                  <button class="btn btn-primary" type="submit">Search</button>
                </div>
              </form>
            <div class="row my-5">
                <div class="col-6">
                    <img src="https://www.deq.ok.gov/wp-content/uploads/air-division/aqi_mini-768x432.png" width="500" alt="Air Pollution">
                </div>
                <div class="col-6">
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">Location- City</th>
                            <th scope="col">AQL</th>
                            <th scope="col">View on Map</th>
                            </tr>
                        </thead>
                        <tbody id="table-data">
                            <tr>
                            </tr>
                        </tbody>
                        </table>
                </div>
            </div>
        
            <div id="map" class="container my-4"></div>

        </main>

    </div>
    <script>
        var map;
        class NearBy{
            constructor(country, AQL) {
                this.innerHTML = `<tr>
                                    <td>${country}</td>
                                    <td>${AQL}</td>
                                    <td><i class="fa-solid fa-circle-info view"></i></td>
                                </tr>`;
            }
        }

        const nearByForm = document.getElementById('nearby-form');
        nearByForm.addEventListener('submit', getNearbyLocations);

        const locations = []

        function getNearbyLocations(e){
            e.preventDefault();
            let country = document.getElementById('country').value;
            let city = document.getElementById('city').value;
            let state = document.getElementById('state').value;

            fetch('http://localhost:3000/near-by', {
                method: 'POST',
                mode: 'cors',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    country: country,
                    city: city,
                    state: state
                })
            })
            .then(res => res.json())
            .then(data => {
                locations.push(data);
                locations.forEach(location => {
                    location.forEach(loc => {
                        let newNearBy = new NearBy(loc.city, loc.pollution);
                        document.getElementById('table-data').innerHTML += newNearBy.innerHTML;
                    })
                });
            }).then(()=>{
                let view = document.getElementsByClassName('view');
                for(let i = 0; i < view.length; i++){
                    view[i].addEventListener('click', function(){
                        console.log(locations[0][i]);
                        let lat = locations[0][i].coords[0];
                        let lng = locations[0][i].coords[1];
                        let map = new google.maps.Map(document.getElementById('map'), {
                            center: {lat: lat, lng: lng},
                            zoom: 10
                        });
                        let marker = new google.maps.Marker({
                            position: {lat: lat, lng: lng},
                            map: map
                        });
                    })
                }
            })
        }

        // function addEV(){
        //     let view = document.getElementsByClassName('view');
        //     for(let i = 0; i < view.length; i++){
        //         view[i].addEventListener('click', function(){
        //             let lat = locations[i][0].latitude;
        //             let lng = locations[i][0].longitude;
        //             let map = new google.maps.Map(document.getElementById('map'), {
        //                 center: {lat: lat, lng: lng},
        //                 zoom: 10
        //             });
        //             let marker = new google.maps.Marker({
        //                 position: {lat: lat, lng: lng},
        //                 map: map
        //             });
        //         })
        //     }
        // }
            // let view = document.getElementsByClassName('view');
            // console.log(view)
            // view.addEventListener('click', function(){
            //     console.log(view)
            // })
            // for(let i = 0, len = view.length; i < len; i++)
            // {
            //     view[i].addEventListener('click', () => {
            //         console.log(locations[i][0]);
            //         let lat = locations[i][0].coordinates.latitude;
            //         let lng = locations[i][0].coordinates.longitude;
            //         let map = new google.maps.Map(document.getElementById('map'), {
            //             center: {lat: lat, lng: lng},
            //             zoom: 6
            //         });
            //         let marker = new google.maps.Marker({
            //             position: {lat: lat, lng: lng},
            //             map: map
            //         });
            //     })
            
            // view.forEach(v => {
            //     v.addEventListener('click', () => {
            //         console.log(v)
            //         map = new google.maps.Map(document.getElementById('map'), {
            //         center: {
            //             lat: location.coords[0],
            //             lng: location.coords[1]
            //         },
            //         zoom: 6
            //         })
            //     });
            // });
        //}

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -34.397, lng: 150.644},
                zoom: 6
            });
        }

        var markers = locations.map(location => {
            var marker = new google.maps.Marker({
                position: {
                    lat: location.coords[0],
                    lng: location.coords[1]
                },
                map: map,
            });

            marker.addListener('click', function() {
                infoWindow.setContent(location.city);
                infoWindow.open(map, marker);
            });
        });



    </script>
<script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSHtNiuqGxHsCgOxB0DyXR59lrk9KkaHo&callback=initMap">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>