<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Top Polluted Locations</title>
</head>
<body>
    <div id="top-polluted">
          <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                  <a class="navbar-brand" href="#"><h3>Pollution Sight</h3></a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/top-polluted">Top Polluted</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/organizations">Organizations</a>
                      </li>
                  </div>
                </div>
              </nav>
        </header>

        <main class="container mt-3">
            <h1 class="text-center mb-5">Environmental Organizations in the United States</h1>

            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">State</th>
                    <th scope="col">Organizations</th>
                    </tr>
                </thead>
                <tbody id="table-data">
                  <tr>
                        <td>Alabama</td>
                        <td>
                          <a href="https://adem.alabama.gov/default.cnt">Alabama Department of Environmental Management</a><br>
                          <a href="http://www.outdooralabama.com/">Alabama Department of Conservation and Natural Resources</a>
                        </td>
                  </tr>
                  <tr>
                        <td>Alaska</td>
                        <td>
                          <a href="http://dec.alaska.gov/">Alaska Department of Environmental Conservation</a><br>
                          <a href=""></a>
                        </td>
                  </tr>
                  <tr>
                        <td>American Samoa</td>
                        <td>
                          <a href="http://www.epa.as.gov/">American Samoa Environmental Protection Agency</a><br>
                          <a href=""></a>
                        </td>
                  </tr>
                  <tr>
                        <td>Arizona</td>
                        <td>
                          <a href="http://www.azdeq.gov/">Arizona Department of Environmental Quality</a><br>
                          <a href=""></a>
                        </td>
                  </tr>
                  <tr>
                        <td>Arkansas</td>
                        <td>
                          <a href="https://www.adeq.state.ar.us/">Arkansas Department of Environmental Quality</a><br>
                          <a href=""></a>
                        </td>
                  </tr>
                  <tr>
                        <td>California</td>
                        <td>
                          <a href="https://ww2.arb.ca.gov/homepage">California Air Resources Board</a><br>
                          <a href="http://www.conservation.ca.gov/">California Department of Conservation</a><br>
                          <a href="https://water.ca.gov/">California Department of Water Resources</a><br>
                          <a href="http://www.calepa.ca.gov/">California Environmental Protection Agency</a><br>
                          <a href="http://www.calrecycle.ca.gov/">California Integrated Waste Management Board</a>
                        </td>
                  </tr>
                  <tr>
                        <td>Colorado</td>
                        <td>
                          <a href="https://conservationco.org/">Conservation Colorado</a><br>
                          <a href=""></a>
                        </td>
                  </tr>
                  <tr>
                        <td>Connecticut</td>
                        <td>
                          <a href="https://portal.ct.gov/deep">Connecticut Department of Environmental Protection</a><br>
                          <a href=""></a>
                        </td>
                  </tr>
                  <tr>
                        <td>Delaware</td>
                        <td>
                          <a href="https://dnrec.alpha.delaware.gov/">Delaware Dept. of Natural Resources and Environmental Control</a><br>
                          <a href="http://dswa.com/">Delaware Solid Waste Authority</a>
                        </td>
                  </tr>
                  <tr>
                        <td>District of Columbia</td>
                        <td>
                          <a href="https://doee.dc.gov/">DC Department of the Environment</a><br>
                          <a href=""></a>
                        </td>
                  </tr>
                  <tr>
                        <td>Florida</td>
                        <td>
                          <a href="https://floridadep.gov/">Florida Department of Environmental Protection</a><br>
                          <a href=""></a>
                        </td>
                  </tr>
                  <tr>
                        <td>Georgia</td>
                        <td>
                          <a href="http://www.gadnr.org/">Georgia Department of Natural Resources</a><br>
                          <a href="http://epd.georgia.gov/">Georgia Environmental Protection Division</a>
                        </td>
                  </tr>
                  <tr>
                        <td>Guam</td>
                        <td>
                          <a href="http://epa.guam.gov/">Guam Environment Protection Agency</a><br>
                          <a href=""></a>
                        </td>
                  </tr>
                  <tr>
                        <td>Hawaii</td>
                        <td>
                          <a href="http://dlnr.hawaii.gov/">Hawaii Department of Land and Natural Resources</a><br>
                          <a href=""></a>
                        </td>
                  </tr>
                  <tr>
                        <td>Idaho</td>
                        <td>
                          <a href="http://www.deq.idaho.gov/">Idaho Department of Environmental Quality</a><br>
                          <a href="http://www.idwr.idaho.gov/">Idaho Department of Water Resources</a>
                        </td>
                  </tr>
                  <tr>
                        <td>Illinois</td>
                        <td>
                          <a href="https://www2.illinois.gov/epa/Pages/default.aspx">Illinois Environmental Protection Agency</a><br>
                          <a href="https://pcb.illinois.gov/">Illinois Pollution Control Board</a><br>
                          <a href="https://www2.illinois.gov/dnr/Pages/default.aspx">Illinois Department of Natural Resources</a>
                        </td>
                  </tr>
                  <tr>
                        <td>Indiana</td>
                        <td>
                          <a href="https://www.in.gov/idem">Indiana Department of Environmental Management</a><br>
                          <a href="https://www.in.gov/dnr/">Indiana Department of Natural Resources</a>
                        </td>
                  </tr>
                  <tr>
                        <td>Iowa</td>
                        <td>
                          <a href="http://www.iowadnr.gov/">Iowa Department of Natural Resources</a><br>
                          <a href=""></a>
                        </td>
                  </tr>
                  <tr>
                        <td>Kansas</td>
                        <td>
                          <a href="https://www.environmentalgroups.us/kansas/">Environmental groups in Kansas</a><br>
                          <a href=""></a>
                        </td>
                  </tr>
                  <tr>
                        <td>Kentucky</td>
                        <td>
                          <a href="https://eec.ky.gov/Pages/index.aspx">Kentucky Energy and Environment Cabinet</a><br>
                          <a href=""></a>
                        </td>
                  </tr>

                  <tr>
                        <td>Louisana</td>
                        <td>
                          <a href="http://deq.louisiana.gov/">Louisiana Department of Environmental Quality</a><br>
                          <a href=""></a>
                        </td>
                  </tr>
                  <tr>
                        <td>Maine</td>
                        <td>
                          <a href="http://www.maine.gov/dep/index.html">Maine Department of Environmental Protection</a><br>
                          <a href=""></a>
                        </td>
                  </tr>
                  <tr>
                        <td>Maryland</td>
                        <td>
                          <a href="https://mde.maryland.gov/Pages/index.aspx">Maryland Department of the Environment</a><br>
                          <a href="http://dnr.maryland.gov/Pages/default.aspx">Maryland Department of Natural Resources</a>
                        </td>
                  </tr>
                  <tr>
                        <td>Massachusetts</td>
                        <td>
                          <a href="https://www.mass.gov/orgs/massachusetts-department-of-environmental-protection">Massachusetts Department of Environmental Protection</a><br>
                          <a href=""></a>
                        </td>
                  </tr>
                  <tr>
                        <td>Michigan</td>
                        <td>
                          <a href="https://www.michigan.gov/egle/0,9429,,00.html">Michigan Department of Environment, Great Lakes, and Energy</a><br>
                          <a href=""></a>
                        </td>
                  </tr>
                  <tr>
                        <td>Minnesota</td>
                        <td>
                          <a href="https://www.dnr.state.mn.us/">Minnesota Department of Natural Resources</a><br>
                          <a href="https://www.pca.state.mn.us/">Minnesota Pollution Control Agency</a>
                        </td>
                  </tr>
                  <tr>
                        <td>Mississippi</td>
                        <td>
                          <a href="https://www.mdeq.ms.gov/">Mississippi Department of Environmental Quality</a><br>
                          <a href=""></a>
                        </td>
                  </tr>
                  <tr>
                        <td>Missouri</td>
                        <td>
                          <a href="https://dnr.mo.gov/">Missouri Department of Natural Resources</a><br>
                          <a href="https://mdc.mo.gov/">Missouri Department of Conservation</a>
                        </td>
                  </tr>
                  <tr>
                        <td>Montana</td>
                        <td>
                          <a href="http://deq.mt.gov/">Montana Department of Environmental Quality</a><br>
                          <a href="http://nris.msl.mt.gov/">Montana Natural Resource Information System</a><br>
                          <a href="http://geoinfo.msl.mt.gov/">Montana GIS Data Library</a>
                        </td>
                  </tr>
                  <tr>
                        <td>Nebraska</td>
                        <td>
                          <a href="http://www.deq.state.ne.us/">Nebraska Department of Environment and Energy</a><br>
                          <a href=""></a>
                        </td>
                  </tr>
                  <tr>
                        <td>Nevada</td>
                        <td>
                          <a href="http://forestry.nv.gov/">Nevada Division of Forestry</a><br>
                          <a href="http://dcnr.nv.gov/">Nevada Department of Conservation and Natural Resources</a><br>
                          <a href="http://ndep.nv.gov/">Nevada Division of Environmental Protection</a>
                        </td>
                  </tr>
                  <tr>
                        <td>New Hampshire</td>
                        <td>
                          <a href="http://www.des.nh.gov/">New Hampshire Department of Environmental Services</a><br>
                          <a href=""></a>
                        </td>
                  </tr>
                  <tr>
                        <td>New Jersey</td>
                        <td>
                          <a href="http://www.state.nj.us/dep/">New Jersey Department of Environmental Protection</a><br>
                          <a href=""></a>
                        </td>
                  </tr>
                  <tr>
                        <td>New Mexico</td>
                        <td>
                          <a href="https://www.env.nm.gov/">New Mexico Environment Department</a><br>
                          <a href=""></a>
                        </td>
                  </tr>
                  <tr>
                        <td>New York</td>
                        <td>
                          <a href="https://www.dec.ny.gov/">New York State Department of Environmental Conservation</a><br>
                          <a href=""></a>
                        </td>
                  </tr>
                  <tr>
                        <td>North Carolina</td>
                        <td>
                          <a href="http://deq.nc.gov/">North Carolina Department of Environmental Quality</a><br>
                          <a href="http://www.p2pays.org/">NC Division of Pollution Prevention and Environmental Assistance</a><br>
                          <a href="https://it.nc.gov/center-geographic-information-and-analysis-cgia">North Carolina Center for Geographic Information and Analysis</a>
                        </td>
                  </tr>
                  <tr>
                        <td>North Dakota</td>
                        <td>
                          <a href="http://www.swc.state.nd.us/">North Dakota State Water Commission</a><br>
                          <a href="https://www.dmr.nd.gov/ndgs/">North Dakota Geological Survey Division</a><br>
                          <a href="https://deq.nd.gov/">ND Department of Environmental Quality</a>
                        </td>
                  </tr>
                  <tr>
                        <td>Ohio</td>
                        <td>
                          <a href="https://ohiodnr.gov/wps/portal/gov/odnr/">Ohio Department of Natural Resources (ODNR)</a><br>
                          <a href="https://www.epa.state.oh.us/">Ohio Environmental Protection Agency</a><br>
                          <a href="https://ohioairquality.ohio.gov/">Ohio Air Quality Development Authority</a>
                        </td>
                  </tr>
                  <tr>
                        <td>Oklahoma</td>
                        <td>
                          <a href="https://www.ok.gov/conservation"><Oklahoma Conservation Commission/a><br>
                          <a href="https://www.deq.ok.gov/">Oklahoma Department of Environmental QualityEXITEXIT EPA WEBSITE</a>
                        </td>
                  </tr>
                  <tr>
                        <td>Oregon</td>
                        <td>
                          <a href="http://www.oregon.gov/DEQ/Pages/index.aspx">Oregon Department of Environmental Quality </a><br>
                          <a href=""></a>
                        </td>
                  </tr>
                  <tr>
                        <td>Pennsylvania</td>
                        <td>
                          <a href="http://www.dep.pa.gov/Pages/default.aspx">Pennsylvania Department of Environmental Protection</a><br>
                          <a href="https://www.dcnr.pa.gov/Pages/default.aspx">Pennsylvania Department of Conservation and Natural Resources</a>
                        </td>
                  </tr>
                  <tr>
                        <td>Puerto Rico</td>
                        <td>
                          <a href="http://drna.pr.gov/">Departamento de Recursos Naturales y Ambientales</a><br>
                          <a href="http://www.drna.pr.gov/otrora-ads/">Autoridad de Desperdicios Sólidos</a>
                        </td>
                  </tr>
                  <tr>
                        <td>Rhode Island</td>
                        <td>
                          <a href="http://www.dem.ri.gov/">Rhode Island Department of Environmental Management</a><br>
                          <a href=""></a>
                        </td>
                  </tr>
                  <tr>
                        <td>South Carolina</td>
                        <td>
                          <a href="http://www.scdhec.gov/">South Carolina Department of Health and Environmental Control</a><br>
                          <a href=""></a>
                        </td>
                  </tr>
                  <tr>
                        <td>South Dakota</td>
                        <td>
                          <a href="https://denr.sd.gov/">South Dakota Department of Environment and Natural Resources</a><br>
                          <a href=""></a>
                        </td>
                  </tr>
                  <tr>
                        <td>Tennessee</td>
                        <td>
                          <a href="https://www.tn.gov/environment/">Tennessee Department of Environment and Conservation</a><br>
                          <a href=""></a>
                        </td>
                  </tr>
                  <tr>
                        <td>Texas</td>
                        <td>
                          <a href="https://www.tceq.texas.gov/">Texas Commission on Environmental Quality (TCEQ)</a><br>
                          <a href=""></a>
                        </td>
                  </tr>
                  <tr>
                        <td>Utah</td>
                        <td>
                          <a href="https://deq.utah.gov/">Utah Department of Environmental Quality</a><br>
                          <a href=""></a>
                        </td>
                  </tr>
                  <tr>
                        <td>Vermont</td>
                        <td>
                          <a href="http://anr.vermont.gov/">Vermont Agency of Natural Resources</a><br>
                          <a href="https://anr.vermont.gov/environmental-conservation">Vermont Department of Environmental Conservation</a>
                        </td>
                  </tr>
                  <tr>
                        <td>Virgin Islands</td>
                        <td>
                          <a href="https://dpnr.vi.gov/">US Virgin Islands Department of Planning and Natural Resources</a><br>
                          <a href="https://dpnr.vi.gov/environmental-protection/">US Virgin Islands Division of Environmental Protection</a>
                        </td>
                  </tr>
                  <tr>
                        <td>Virginia</td>
                        <td>
                          <a href="http://www.deq.virginia.gov/">Virginia Department of Environmental Quality</a><br>
                          <a href=""></a>
                        </td>
                  </tr>
                  <tr>
                        <td>Washington</td>
                        <td>
                          <a href="https://ecology.wa.gov/">Washington State Department of Ecology</a><br>
                          <a href="https://www.dnr.wa.gov/">Washington State Department of Natural Resources</a>
                        </td>
                  </tr>
                  <tr>
                        <td>West Virginia</td>
                        <td>
                          <a href="https://commerce.wv.gov/agencies/division-of-natural-resources/">West Virginia Division of Natural Resources</a><br>
                          <a href=""></a>
                        </td>
                  </tr>
                  <tr>
                        <td>Wisconsin</td>
                        <td>
                          <a href="https://dnr.wisconsin.gov/">Wisconsin Department of Natural Resources</a><br>
                          <a href=""></a>
                        </td>
                  </tr>
                  <tr>
                        <td>Wyoming</td>
                        <td>
                          <a href="https://deq.wyoming.gov/">Department of Environmental Quality</a><br>
                          <a href=""></a>
                        </td>
                  </tr>
                </tbody>
            </table>
        </main>

    </div>
